<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liumingservices.ai.rag.mapper.EquipmentMapper">
    <select id="selectAllEquipments" resultType="com.liumingservices.ai.entity.Equipment">
        select * from equipment;
    </select>


</mapper>
